* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
        'cabecalho cabecalho'
        'navegacao conteudo'
        'rodape rodape' 
}

header {
    grid-area: cabecalho;
    background-color: yellow;
}

nav {
    grid-area: navegacao;
    background-color: orange;
}

main {
    grid-area: conteudo;
    background-color: green;
}

footer {
    grid-area: rodape;
    background-color: blue;
}

h1{
    color:#836FFF;
    text-align: center;
}

.rb{
    display: flex;
    flex-direction: row;
}

.rb label{
    margin-right: 20px;
}

#menu{
    display: flex;
    justify-content: center;
}

#menu ul{
    list-style-type: none;
    padding: 0;
    position: relative;
}

#menu ul li{
    display: inline;
    float: right;
    background-color: #836FFF;
    margin-left: 10px;
    border-radius: 5px
}

#menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
}

#menu ul li a:hover{
    background-color: #b0a4fb;
    border-radius: 5px;
}

.content-table{
    position: absolute;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
    background-color: #836FFF;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 10px 13px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #836FFF;
}

.div-table{
    display: flex;
    justify-content: center;
}

.btn{ 
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

.btn-cancel{
    width: 20%; 
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
    background-color: #d00;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.btn-view{
    background-color: #36a016;
}

.btn-view:hover{
    background-color: #4dbd2b;
}

.btn-edit{
    background-color: #b8c500;
}

.btn-edit:hover{
    background-color: #dae71d;
}

.btn-del{
    background-color: #d00;
}

.btn-del:hover{
    background-color: #ff5c5c
}

form{
    margin: 30px;
}

form input{
    display: block;
    margin: 5px 10px 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4131ad;
}

form label, p{
    display: block;
    color:#836FFF;
}

form input[type=radio]{
    display: inline-block;
}

form input[type=submit]{
    background-color: #836FFF;
    width: 50%;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: #a295fc;
}

.name{
    display: inline;
    width: 200px;
}

.form{
  width: 544px;
  height: 500px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border-radius: 15px;
}
