body{
    font-family: sans-serif;
}

h1{
    color:#836FFF;
    text-align: center;
}

.content{
}

#h-menu ul{
    width: 100%;
    float: right;
    list-style-type: none;
    padding: 0;
    position: relative;
}

#h-menu ul li{
    display: inline;
    float: right;
    background-color: #836FFF;
    margin-left: 10px;
    border-radius: 5px
}

#h-menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    transition: background .6s;
}

#h-menu ul li a:hover{
    background-color: #b0a4fb;
    border-radius: 5px;
}

.content-table{
    position: absolute;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
    background-color: #836FFF;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #836FFF;
}

.div-table{
    display: flex;
    justify-content: center;
}

.btn{ 
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

.btn-view{
    background-color: #36a016;
}

.btn-edit{
    background-color: #b8c500;
}

.btn-del{
    background-color: #d00;
}
